
<li class="nav-link dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a class="nav-link" href="{{ path('didungar_swaggerui_apiclient') }}">Client Guzzle</a></li>
        <li><a class="nav-link" href="{{ path('didungar_swaggerui') }}">Documentation SwaggerUI</a></li>
    </ul>
</li>